{% if app.user %}
{% set prenom = app.user.prenom|capitalize %}
{% set nom = app.user.nom|upper %}
{% endif %}
<div class="header_bis">
    {% if app.user %}
    <div class="h_bis_menu_liens">

        <span style="margin-right: 30px;">Bonjour {{ prenom }} {{ nom }} </span>

        {% if is_granted('ROLE_ADMIN') %}
            <span>Administrateur</span>
        {% elseif is_granted('ROLE_DOC') %}
            <span>Pôle DOC</span>
        {% elseif is_granted('ROLE_REPRO') %}
            <span>Pôle Repro</span>
        {% elseif is_granted('ROLE_BOTH') %}
            <span>Pôle DOC/Repro</span>
        {% endif %}

            <a href="{{ path('deconnexion') }}"><button type="button" class="h_bis_deconnexion">Déconnexion</button></a>

    </div>

    {% else %}
    <div class="h_bis_menu_liens_unlogged">

{#    Rien à mettre dedans car aucun accès dedans #}

    </div>

    {% endif %}

</div>